In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
df = pd.read_csv("Movies/Data Files/Uber Drives 2016.csv")
#group by start location, and average miles
df.groupby("START*")["MILES*"].agg("mean")
#group by start, STOP location, and average miles,
df.groupby(["START*", "STOP*"]).agg(["mean", "sum"])
df

In [49]:

dfSD = df["START_DATE*"] = pd.to_datetime(df["START_DATE*"])
res = df.groupby("START*").agg({"MILES*": "mean", "START_DATE*":"min"})
#reset the index so that the indexes are reset towards the end
res.reset_index(inplace=True)
res.to_csv("Movies/Data Files/res.csv")
res

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              START*      MILES*         START_DATE*
0              Agnew    2.775000 2016-11-04 21:04:00
1             Almond   15.200000 2016-10-30 12:58:00
2               Apex    5.341176 2016-01-29 21:21:00
3              Arabi   17.000000 2016-06-25 10:50:00
4          Arlington    4.900000 2016-08-02 11:51:00
..               ...         ...                 ...
170  West University    2.200000 2016-03-10 14:39:00
171           Weston    4.000000 2016-03-05 12:57:00
172   Westpark Place    2.182353 2016-02-26 11:05:00
173      Whitebridge    4.020588 2016-01-19 09:09:00
174    Winston Salem  133.600000 2016-10-28 18:13:00

[175 rows x 3 columns]

In [55]:
res1 = []
temp = [1,2,3,4]
for i in temp:
    res1.append(i*i)
res1

[1, 4, 9, 16]